{% extends 'base.html.twig' %}
{% block sidebar %}
{% endblock %}
{% block section %}
    <h1>Reclamation</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ reclamation.id }}</td>
            </tr>
            <tr>
                <th>Fullname_rec_s</th>
                <td>{{ reclamation.fullnameRecS }}</td>
            </tr>
            <tr>
                <th>Fullname_rec_r</th>
                <td>{{ reclamation.fullnameRecR }}</td>
            </tr>
            <tr>
                <th>Categori</th>
                <td>{{ reclamation.Categorie.nomCategorie }}</td>
            </tr>
            <tr>
                <th>Mail</th>
                <td>{{ reclamation.mail }}</td>
            </tr>
            <tr>
                <th>Num_tel</th>
                <td>{{ reclamation.numTel }}</td>
            </tr>
            <tr>
                <th>Text_rec</th>
                <td>{{ reclamation.textRec }}</td>
            </tr>
            <tr>
                <th>Date_de_rec</th>
                <td>{{ reclamation.dateDeRec ? reclamation.dateDeRec|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <button  class="btn btn-outline-secondary"><a style="color: black"href="{{ path('app_reclamation') }}">back</a></button>

    <button class="btn btn-primary"><a style="color: white" href="{{ path('app_reclamation_edit', {'id': reclamation.id}) }}">Editer</a></button>

    {{ include('reclamation/_delete_form.html.twig') }}
{% endblock %}
